services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: sha_crm
      POSTGRES_USER: sha
      POSTGRES_PASSWORD: sha_pass
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    expose:
      - "8000"
    volumes:
      - static_volume:/vol/web_static

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    depends_on:
      - backend
      - frontend
    ports:
      - "8080:80"
    volumes:
      - static_volume:/vol/web_static
      - ./nginx/frontend-nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  db_data:
  static_volume:
